<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>validaMail</param-name>
    <param-value>/recursos/plantillasMails/validaMail.txt</param-value>
  </context-param>
  <context-param>
    <param-name>correo</param-name>
    <param-value>/recursos/plantillasMails/textoCorreo.txt</param-value>
  </context-param>
  <servlet>
	<display-name>JAX-RS REST Servlet</display-name>
	<servlet-name>JAX-RS REST Servlet</servlet-name>
	<servlet-class>
		com.sun.jersey.spi.container.servlet.ServletContainer
	</servlet-class>
	<init-param>
  		<param-name>com.sun.jersey.config.property.packages</param-name>
  		<param-value>cl.altair.perfilamiento.control</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
	<servlet-name>JAX-RS REST Servlet</servlet-name>
	<url-pattern>/rest-services/*</url-pattern>
   </servlet-mapping>
  <servlet>
    <servlet-name>CtrlFce</servlet-name>
    <servlet-class>servicios.control.FceServlet</servlet-class>
    <init-param>
      <param-name>logPropertiesPath</param-name>
      <param-value>/logs/log4j.properties</param-value>
    </init-param>
    <init-param>
      <param-name>appProgram</param-name>
      <param-value>/xml/prgfce.xml</param-value>
    </init-param>
    <init-param>
      <param-name>pageList</param-name>
      <param-value>/xml/pageMapping.xml</param-value>
    </init-param>
    <init-param>
      <param-name>sesion</param-name>
      <param-value>cookie</param-value>
    </init-param>
    <init-param>
      <param-name>tipoXml</param-name>
      <param-value>new</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlFce</servlet-name>
    <url-pattern>/fce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CtrlFce</servlet-name>
    <url-pattern>/ecf</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/comunes/error/serviceUnavailable.jsp</location>
  </error-page>
  <resource-ref>
    <res-ref-name>jdbc/perfilDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/servelDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
     <res-ref-name>mail/webapp</res-ref-name>
     <res-type>javax.mail.Session</res-type>
     <res-auth>Container</res-auth>
 </resource-ref>	
</web-app>